<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Adventure Travel{% endblock title %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'headers.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    {% block headextra %}
    {% endblock headextra %}
</head>
<body>
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="{% url 'main_page' %}" class="d-inline-flex link-body-emphasis text-decoration-none">
              <img src="{% static 'images/travana.png' %}" alt="Travana" class="nav-logo">
            </a>
        </div>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{% url 'main_page' %}" class="nav-link px-2 link-secondary">Home</a></li>
            <li><a href="{% url 'view_all_trips' %}" class="nav-link px-2">Trips</a></li>
            <li><a href="{% url 'about' %}" class="nav-link px-2">About</a></li>
            {% if request.user.is_staff %}
            <li><a href="{% url 'managing_panel' %}" class="nav-link px-2">Manage</a></li>
            {% endif %}
        </ul>
        <div class="col-md-3 text-end">
            {% if request.user.is_authenticated %}
                <a href="{% url 'profile' %}" class="btn btn-outline-primary me-2">Profile</a>
                <a href="{% url 'logout' %}" class="btn btn-primary">Log out</a>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-outline-primary me-2">Log in</a>
                <a href="{% url 'registration' %}" class="btn btn-primary">Sign up</a>
            {% endif %}
        </div>
    </header>

    {% if messages %}
    <div class="messages">
        <ul>
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}

    <div class="content">
        {% block body %}{% endblock body %}
    </div>

    <footer class="site-footer">
        <div class="footer-container">
          <div class="footer-left">
            <div class="footer-brand">
              <img src="{% static 'images/travana.png' %}" alt="Adventure Travelers Logo" class="footer-logo">
              <h3>Adventure Travelers AS</h3>
            </div>
            <div class="footer-branches">
              <p><strong>NORWAY OFFICE</strong><br>
              Fjordgata 12, 7010 Trondheim<br>
              (+47) 908 12 456</p>
      
              <p><strong>SPAIN OFFICE</strong><br>
              Calle Palma 44, 08001 Barcelona<br>
              (+34) 612 34 5678</p>
      
              <p><em>Org. nr.: 123 456 789</em></p>
            </div>
          </div>
          <div class="footer-right">
            <h4>About Us</h4>
            <p>
              efhiubawkfguaerkguyaserogiuaeroiguhaergiouhaergiouaewrfiuglyrsguy
            </p>
          </div>
        </div>
      </footer>  
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>    
</body>
</html>