<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Adventure Travel{% endblock title %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block headextra %}
    {% endblock headextra %}
</head>
<body>
    <!-- Navigation bar -->
    <nav>
        <ul class="navbar">
            <li><a href="{% url 'main_page' %}">Home</a></li>
            <li><a href="{% url 'view_all_trips' %}">Trips</a></li>
            {% if request.user.is_staff %}
            <li><a href="{% url 'managing_panel' %}">Manage</a></li>
            {% endif %}


            {% if request.user.is_authenticated %}
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'logout' %}">Log out</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Log in</a></li>
            <li><a href="{% url 'registration' %}">Sign up</a></li>
            {% endif %}
        </ul>
    </nav>

    {% if messages %}
    <div class="messages">
        <ul>
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}

    <div class="content">
        {% block body %}{% endblock body %}
    </div>

    <footer>(C) 2025 %  <a href="{% url 'about' %}">About us</a></footer>
</body>
</html>
