{% extends "BaseTempl.html" %}

{% block title %}
Log In
{% endblock title %}

{% block headextra %}
{% if user.is_authenticated %}
<script> 
    window.onload = function() {
        history.back();
    }; 
</script> 
{% endif %}
{% endblock headextra %}

{% block body %}

<h1 class="auth-title">Log in</h1>
<div class="form-container">
  <form method="post" class="styled-form">
    {% csrf_token %}
    <input type="text" name="username" class="input-field" placeholder="Username">
    <input type="password" name="password" class="input-field" placeholder="Password">
    <button type="submit" class="red-button">Log in</button>
</form>

</div>

{% endblock body %}
