{% extends "BaseTempl.html" %}
{% load static %}

{% block title %}
Trip history
{% endblock title %}

{% block body %}
<h1 class="trip-title" style="text-align: center;">Trip history</h1>

<div class="schedule-admin-wrapper">
{% if schedactive %}
  <table class="schedule-admin-table">
    <caption>Active trips</caption>
    <thead>
      <tr>
        <th>Name</th>
        <th>From</th>
        <th>To</th>
        <th>Price</th>
        <th>Guides</th>
        <th>Attendants</th>
        <th>Max. Attendants</th>
      </tr>
    </thead>
    <tbody>
      {% for s in schedactive %}
      <tr>
        <td>{{ s.trip.title }}</td>
        <td>{{ s.start }}</td>
        <td>{{ s.end }}</td>
        <td>{{ s.price }}</td>
        <td>
          {% for g in s.guides.all %}
            {{ g }}{% if not forloop.last %}; {% endif %}
          {% endfor %}
        </td>
        <td>{{ s.attendants.count }}</td>
        <td>{{ s.maxattendants }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}

{% if schedfuture %}
  <table class="schedule-admin-table">
    <caption>Future trips</caption>
    <thead>
      <tr>
        <th>Name</th>
        <th>From</th>
        <th>To</th>
        <th>Price</th>
        <th>Guides</th>
        <th>Attendants</th>
        <th>Max. Attendants</th>
      </tr>
    </thead>
    <tbody>
      {% for s in schedfuture %}
      <tr>
        <td>{{ s.trip.title }}</td>
        <td>{{ s.start }}</td>
        <td>{{ s.end }}</td>
        <td>{{ s.price }}</td>
        <td>
          {% for g in s.guides.all %}
            {{ g }}{% if not forloop.last %}; {% endif %}
          {% endfor %}
        </td>
        <td>{{ s.attendants.count }}</td>
        <td>{{ s.maxattendants }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}

{% if schedpast %}
  <table class="schedule-admin-table">
    <caption>Past trips</caption>
    <thead>
      <tr>
        <th>Name</th>
        <th>From</th>
        <th>To</th>
        <th>Price</th>
        <th>Guides</th>
        <th>Attendants</th>
        <th>Max. Attendants</th>
      </tr>
    </thead>
    <tbody>
      {% for s in schedpast %}
      <tr>
        <td>{{ s.trip.title }}</td>
        <td>{{ s.start }}</td>
        <td>{{ s.end }}</td>
        <td>{{ s.price }}</td>
        <td>
          {% for g in s.guides.all %}
            {{ g }}{% if not forloop.last %}; {% endif %}
          {% endfor %}
        </td>
        <td>{{ s.attendants.count }}</td>
        <td>{{ s.maxattendants }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}

</div>
{% endblock body %}
