{% extends "BaseTempl.html" %}
{% load static %}

{% block title %}
{% if ScheduleEdit %}
Edit schedule
{% else %}
Add a new trip to the schedule
{% endif %}
{% endblock title %}

{% block body %}

<div class="schedule-admin-wrapper">
  <h1 class="trip-title">
    {% if ScheduleEdit %}
      Edit schedule
    {% else %}
      Add a New Trip To the Schedule
    {% endif %}
  </h1>

  <form method="post" class="styled-form" style="width: 100%; max-width: 420px; margin: 0 auto;">
    {% csrf_token %}
    {{ FormSched.as_p }}
    <button type="submit" class="red-button">
      {% if ScheduleEdit %}
        Save changes
      {% else %}
        Add
      {% endif %}
    </button>
  </form>
</div>

{% endblock body %}
