{% extends "BaseTempl.html" %}
{% load static %}

{% block title %}
{{ tripobj.title }}
{% endblock %}

{% block body %}
<h1 class="trip-title">{{ tripobj.title }}</h1>
<p class="trip-description">{{ tripobj.description }}</p>

<p>Closest available dates:</p>
{% if schedule %}
    <ul>
    {% for s in schedule|slice:":10" %}
    <li><a href="{% url 'trip_register' s.id %}">{{s.start}}</a><br></li>
    {% endfor %}
    </ul>
    <br>
    <a href="{% url 'trip_full_schedule' tripobj.id %}">[View all]</a>
{% else %}
<p>(No scheduled dates so far)</p>
{% endif %}



<div class="trip-gallery">
    {% for p in picobjs %}
        <img src="{{ p.picture.url }}" alt="Trip image">
    {% empty %}
        <p>No images for this trip yet.</p>
    {% endfor %}
</div>



<!--Reviews-->
<h3>Reviews</h3>
{% for r in reviews %}
<table class="admintable">
    <tr>
        <td>{{r.rating}}/10</td>
        <td>"{{r.revtitle}}"</td>
    </tr>
    <tr>
        <td>{{r.customer}} at {{r.date_created}}</td>
    </tr>
    
    <tr>
        <td>{{r.comment}}</td>
    </tr>
</table>
</br>
</br>

{% empty %}

There are no reviews... Yet!

{% endfor %}

{% endblock body %}
