{% extends "BaseTempl.html" %}
{% load static %}

{% block title %}
{{ tripobj.title }}
{% endblock %}

{% block body %}
<h1 class="trip-title">{{ tripobj.title }}</h1>
<p class="trip-description">{{ tripobj.description }}</p>

<div class="trip-gallery">
    {% for p in picobjs %}
        <img src="{{ p.picture.url }}" alt="Trip image">
    {% empty %}
        <p>No images for this trip yet.</p>
    {% endfor %}
</div>



<!--Reviews-->
{% for r in reviews %}
    {{r.rating}}/10 "{{r.revtitle}}"</br>
    {{r.customer}} at {{r.date_created}}</br>
    {{r.comment}}

</br>
</br>
{% endfor %}

{% endblock body %}
