{% extends "BaseTempl.html" %}

{% block title %}
Your profile
{% endblock title %}


{% block body %}
<h1><u>{{request.user}}'s Profile</u></h1>


{% if schedactive %}
    <h2>Active trips</h2>
    <ul>
    {% for s in schedactive %}
    <li>
        <a href="{% url 'trip' s.trip.id %}">{{s.trip.title}} - Ends {{s.end}}</a>
    </li>
    {% endfor %}
    </ul>
{% endif %}

{% if schedfuture %}
    <h2>Planned trips</h2>
    <ul>
    {% for s in schedfuture %}
    <li>
        <a href="{% url 'trip' s.trip.id %}">{{s.trip.title}} - Starts {{s.start}}</a>
    </li>
    {% endfor %}
    </ul>
{% endif %}

<a href="{% url 'trip_history' %}">Your trip history</a>


{% endblock body %}